.navbar {
  background-color: #333;
  padding: 10px 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-logo {
  margin-right: 20px;
}

.navbar-logo img {
  height: 50px;
  border-radius: 50px;
  width: auto;
}

.navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-item {
  margin-right: 20px;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #ffcc00;
}

.form-style {
  background-color: #f8f9fa; /* Warna latar belakang form */
  padding: 20px; /* Padding form */
  border-radius: 5px; /* Border radius form */
}

.submit-btn {
  background-color: #007bff; /* Warna tombol Submit */
  border-color: #007bff; /* Warna border tombol Submit */
}

.submit-btn:hover {
  background-color: #0056b3; /* Warna tombol Submit saat dihover */
  border-color: #0056b3; /* Warna border tombol Submit saat dihover */
}
